@import "tailwindcss";

a.active p{
    @apply bg-red-500 text-black rounded shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#08f,0_0_15px_#08f,0_0_30px_#08f]
}

.slick-prev, .slick-next {
    color: #fff;
    z-index: 10;
  }
.slick-prev::before, .slick-next::before {
font-size: 24px;
color: black;
}
.slick-dots li.slick-active button::before {
color: #1976D2 !important; /* Blue color for active dot */
}
  